:root {
  --bg: #181818;
  --bg-light: #272727;
  --light: #c6c6c6;
  --green-light: #9fcd9f;
  --green: #13a96a;
  --dark-green: #053f33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 6%;
  /* border-bottom: 3px solid var(--bg-light); */
  background-color: var(--bg);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 230px;
  position: fixed;
  top: 0.9rem;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: var(--bg-light);
  padding: 1rem 2rem;
  border-radius: 230px;
}

.navbar .navbar-logo span {
  color: var(--green);
}

.navbar .navbar-link a,
.navbar-link2 a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 2rem;
}

.navbar .navbar-link a:hover,
.navbar-link2 a:hover {
  color: var(--light);
}

.navbar .navbar-link a::after,
.navbar-link2 a::after {
  content: '';
  display: block;
  border-bottom: 0.2rem solid var(--green);
  transform: scaleX(0);
}

.navbar .navbar-link a:hover::after,
.navbar-link2 a:hover::after {
  transform: scaleX(0.5);
}

#sidebar-menu {
  display: none;
}

/* HERO SECTION */
.hero {
  background-image: url('https://res.cloudinary.com/oxywear/image/upload/v1695271832/green-waste/header-bg_gsabf8.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-position: center;
  position: relative;
  display: flex;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  background: linear-gradient(0deg, var(--bg) 8%, rgba(255, 255, 255, 0) 70%);
  width: 100%;
  height: 20%;
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  line-height: 1;
  text-shadow: 1px 1px 3px rgb(1, 1, 3, 0.5);
}

.hero .content h1 span {
  color: var(--green);
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 3px rgb(1, 1, 6, 1);
}

.hero .content .button-join {
  margin-top: 1rem;
  color: #fff;
  display: inline-block;
  background-color: var(--green);
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-weight: 700;
  box-shadow: 1px 1px 3px rgb(1, 1, 3, 0.5);
}

.hero .card-hero {
  display: flex;
}

.hero .card-hero img {
  margin: 1rem 7rem;
  width: 60%;
  border-radius: 20px;
  box-shadow: 30px 30px 5px rgb(1, 1, 3, 1);
}

/* ABOUT */
.about {
  padding: 8rem 10%;
}

.about h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 7rem;
  padding: 0rem 10rem;
}

.about .img {
  position: relative;
  margin-bottom: 5rem;
}

.about .img #img-about-0 {
  display: block;
  margin: auto;
  border-radius: 250px;
  box-shadow: 1px 1px 15px 5px rgb(1, 1, 3, 1);
}

.about .img #img-about-1 {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: 50px;
}

.about .img #img-about-2 {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 150px;
}

.about .img #img-about-3 {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: -40px;
  right: 150px;
}

.about .img #img-about-4 {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 150px;
  right: 40px;
}

/* SOLUTION */
.solution h1 {
  text-align: center;
  font-size: 2.6rem;
}

.solution .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  gap: 3rem;
}

.solution .row .solution-card {
  padding-bottom: 1rem;
  text-align: center;
  background-color: var(--bg-light);
  padding: 5rem 2rem;
  border-radius: 15px;
  box-shadow: 1px 15px 1px rgb(1, 1, 3, 1);
}

.solution .row .solution-card .solution-card-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.solution .row .solution-card .solution-card-desc {
  color: var(--light);
  text-align: center;
  max-width: 22rem;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 100;
}

.solution .row .solution-card .solution-card-btn {
  margin-top: 1rem;
  color: #fff;
  display: inline-block;
  background-color: var(--green);
  font-size: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

/* CONTACT */
.contact {
  background-color: var(--bg-light);
  margin-top: 10rem;
  padding: 5rem 0rem;
}
.contact h1 {
  font-size: 2.6rem;
  text-align: center;
}

.contact p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
}

.contact .row form {
  margin: auto;
}

.contact .row label {
  font-size: 1.1rem;
  font-weight: 700;
}

.contact .row input {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  background: var(--bg);
  color: #fff;
  border: 1px solid var(--light);
}

.contact .row #status {
  font-size: 1rem;
  width: auto;
}

.contact .row form button {
  margin-top: 3rem;
  display: flex;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  background-color: var(--green);
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
}

.contact .row #warning {
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem;
  color: var(--green);
  font-weight: 500;
}

.contact .row #warning .warning {
  padding: 1rem 2rem;
}

/* FOOTER */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--green);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--green);
  font-weight: 700;
}

/* MEDIA QUERIES */
/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #sidebar-menu {
    display: inline-block;
  }

  .navbar .navbar-link a {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    background-color: #fff;
  }

  .hero .card-hero {
    display: none;
  }
}

/* MOBILE PHONE */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
